@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background: linear-gradient(180deg, #007195 0%, #000000 40%);
    font-size: 12px;
}

/* CSS do cabeçalho */
.header-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:1rem;
    padding: 2em 0;
    margin: 0 auto;
    border-bottom: 0.1em solid #FCFCFC;

}

.header-content-img {
    height: 8em;
}

.header-content-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 1rem;
}

.header-content-link {
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Roboto';
    font-weight: 700;
    color: #FCFCFC;
    text-align: center;
}

.header-content-link:hover {
    color: #37afff;
}

.header-content-button {
    padding: 0.8em 1em;
    font-size: 1.2em;
    font-family: 'Roboto';
    font-weight: 700;
    color: #FCFCFC;
    background: #3298db;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    border: none;
    transition: 200ms;
}

.header-content-button:hover {
    background: #37afff;
    color: #FFFFFF;

}

/* CSS do conteúdo principal */
.main-celular {
    width: 80%;
    margin: 0 auto;
    padding: 6em 0;
}

.section-celular {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.content-celular {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 30rem
}

.title-celular {
    width: 100%;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    font-family: 'Bebas Neue';
    font-size: 5em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: #FCFCFC;
    border-bottom: 0.1rem solid #FCFCFC;
}

.text-celular {
    width: 100%;
    padding: 0 6rem 2rem 0;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-size: 1.5em;
    color: #FCFCFC;
}

.title-celular-2 {
    width: 100%;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: #FCFCFC;
}

.celular-img-facebook {
    width: 3em;
    flex-shrink: 3;
}

.celular-img-instagram {
    width: 3em;
}

.content-celular-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 30rem
}

.celular-img-celular {
    width: 80%;
    transform: rotate(34.3deg);
}

/* CSS do Rodapé  */

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.1rem solid #FCFCFC;
    padding: 3rem 0 0.5rem;
    margin: 0 auto;
}

.footer-container-logo {
    width: 8rem;
}

.footer-container-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 2em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: #FCFCFC;
    margin-top: 1.5rem;
}

.footer-container-description {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1.5em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: #FCFCFC;
}

.footer-container-copyright {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 1em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    color: #FCFCFC;
    margin-top: 1.5rem;
}

.copyright-link {
    text-decoration: none;
    font-size: 1em;
    font-family: 'Roboto';
    font-weight: 700;
    color: #FCFCFC;
}

